{{- $gitName := "Nilesh" -}}
{{- $gitEmail := "TheNilesh@users.noreply.github.com" -}}

[data]
    minimal = {{ promptBool "minimal" false }}

[data.git_identity]
    name = {{ promptStringOnce . "git_identity.name" "Name for git commits" $gitName | quote }}
    email = {{ promptStringOnce . "git_identity.email" "Email for git commits" $gitEmail | quote }}
