{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -e

sudo apt update

sudo apt install -y \
  ripgrep \
  fd-find \
  bat \
  fzf \
  tmux \
  fish \
  direnv

if ! command -v starship >/dev/null 2>&1; then
  curl -sS https://starship.rs/install.sh | sh -s -- --yes
fi

if ! command -v mise >/dev/null 2>&1; then
  curl https://mise.run | sh
fi

if command -v go >/dev/null 2>&1; then
  go install github.com/charmbracelet/glow/v2@latest
  go install github.com/charmbracelet/gum@latest
fi
{{ end -}}
