{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail

brew bundle --file=/dev/stdin <<'EOF'
# Clone of cat(1) with syntax highlighting and Git integration
brew "bat"
# Secure and free password manager for all of your devices
brew "bitwarden-cli"
# Manage your dotfiles across multiple diverse machines, securely
brew "chezmoi"
# Load/unload environment variables based on $PWD
brew "direnv"
# Simple, fast and user-friendly alternative to find
brew "fd"
# Play, record, convert, and stream select audio and video codecs
brew "ffmpeg"
# Distributed revision control system
brew "git"
# User-friendly command-line shell for UNIX-like operating systems
brew "fish"
# Command-line fuzzy finder written in Go
brew "fzf"
# GitHub command-line tool
brew "gh"
# Render markdown on the CLI
brew "glow"
# Tool for glamorous shell scripts
brew "gum"
# Polyglot tool version manager
brew "mise"
# Tools for one-time password authentication systems
brew "oath-toolkit"
# Search tool like grep and The Silver Searcher
brew "ripgrep"
# Cross-shell prompt for astronauts
brew "starship"
# Terminal multiplexer
brew "tmux"
# Terminal-based AI coding assistant
cask "claude-code@latest"
# Web browser
cask "firefox"
# Replacement for Docker Desktop
cask "orbstack"
# Modern terminal emulator
cask "ghostty"
# A post-modern modal text editor
brew "helix"
# Monospaced font for developers
cask "font-jetbrains-mono"
# Monospaced font with programming ligatures
cask "font-fira-code"
# Monospaced font family for coding environments
cask "font-source-code-pro"
# Multiplayer code editor
cask "zed"
# Binary releases of VS Code without MS branding/telemetry/licensing
cask "vscodium"
# Replacement for spotlight
cask "raycast"
# Window manager
cask "rectangle"
# screenshot manager
cask "shottr"
# clipboard manager
cask "maccy"
# window switch helper
cask "alt-tab"
# menu bar icon manager
cask "jordanbaird-ice"
# keymapper
cask "karabiner-elements"
# menu bar calendar/meetings helper
cask "meetingbar"
EOF
{{ end -}}
